@layer theme, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

html,
body {
  margin: 0;
  overflow: hidden;
}

body {
  background-image: url('/app-bg.jpg');
  background-size: cover;
}

/* Fonts */
@theme {
  --font-pixel: "Pixelated MS Sans Serif", Arial;
}
