@layer theme, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

html,
body {
  overflow: hidden;
}

body {
  background-image: url('/app-bg.jpg');
  background-size: cover;
}
